.panel {
    display: flex;
    min-height: 1200px; 
}

.panel__nav {
    padding-top: 1em;
    min-height: 100%; 
    position: relative;
    padding-bottom: 1em;
    width: 15%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    &__item {
        font-size: 1.5em;
        padding-bottom: .5em;
        cursor: pointer;
        color: white;
    }

    &__item--active {
        color: #f7941d;
    }

}


.main__content {
    width: 90%;
    padding: 1em;
    margin-top: 5.5em;
    height: 100%;
    margin-left: 3em;
    margin-bottom: 3em;
}

.table-title {
    margin-bottom: .5em;
}

.action-link {
    font-size: 1.5em;
    background-color: #f7941d;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .45em;
    padding-bottom: .25em;
    border: 1px solid #f7941d;
    border-radius: 10%;
}



.admin-table { 
    margin-top: 2em;
	width: 100%; 
	border-collapse: collapse; 



    &__header {
        background-color: #fafafa;
    }

    &__row:nth-of-type(even) {
        background: #fafafa;
    }

    &__data, &__head {
        padding: 10px; 
        border: 1px solid #ccc; 
        text-align: left; 
        font-size: 1.1em;
    }

    &__head {  
        font-weight: bold;
        font-size: 1.5em; 
    }
 
}



.delete-link {
    display: inline-block;    
    & > * {        
        font-size: 1.1em;
        border: none;
        background: none;
        color: #aa2d27;
    }
    i {
        color: #aa2d27;
    }
}

.action-links {
    width: 20%;
}
#edit-link {
    color: #239322;
    i {
        color: #239322;
    }
}

#show-link {
    color: #1b579b;
    i {
        color: #1b579b; 
    }
}




.action-links > *{
    padding: 0 .5em;
    margin: 0 auto;
}

#create-form * {
    font-size: 16px;
}

#pagination-container > nav > ul{
    display: flex;
    justify-content: center;
}


.app-bottom {
    margin: 0;
    padding: 0;
    width: 100%;
}

.app-bottom li{
    padding-top: 15px!important;
    padding-left: 15px!important;
    padding-right: 15px!important;
    font-size: 1.3em;
    width: 100%;
}

#app-logout-btn {
    border: none;
    background: none;
    padding-bottom: 15px!important;
}

#app-logout-btn:hover {
    color: #f7941d;
}

#back-link {
    padding: 1em;
    margin-bottom: 1em;
}

#back-link > a {  
    background-color: #f7941d;
    padding: 1em;
    border: #f7941d solid 1px;
    border-radius: 7%;

    color:black;
    i {
        color: black;
    }
}


.panel__nav{
    background-color: #212121;
}

.app__divider {
    width: 100%;
    background: #575757;
}
