.app-menu-panel {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.app-list-left {
    width: 25vw;
}

.app-tab-content {
    margin:0 auto;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    padding: 10px;
    gap: 10px;
}

.app-order {
    height: 290px;
    position: relative;
    z-index: 0;
    top: 0px;
}

* {
    transition: all 0.3s ease-out;
}

.app-order:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border-radius: 7px;
    background-color: white;
}

.app-logout-btn {
    border: none;
    background-color: red;
    width: 80%;
    height: 70%;
    padding: 0px;
    margin: 0px;
}